.widefat {width: auto;}

<!--
table { border-collapse: collapse; font-family: Futura, Arial, sans-serif; border: 1px solid #777; }
caption { font-size: larger; margin: 1em auto; }
th, td { padding: .65em; border: 1px solid #000; }
th, thead { background: #900000; color: #fff; border: 1px solid #000; font-weight: bold; }
tr:nth-child(odd) { background: #ccc; }
tr:hover { background: #aaa; }
td { border-right: 1px solid #777; }
.id { width: 45px; }
.escola { width: 450px; }
-->
